.tmi {
    font-size: 20px;
    text-align: center;
    margin: 20px 20px 50px;
}


.ul li{
    margin-bottom: 7px;
    
}
main {
    margin:0px 10px;
}

@media(min-width : 800px){
    .ul li {
        font-size: 20px;
    }
    .ul {
        margin-left: 30px;
    }
}
@media(min-width : 1200px){
    .ul li{
        font-size: 22px;
    }
    .ul {
        margin-left: 70pxpx;
    }
    .tmi {
        margin-bottom: 70px;
    }
}
